.list {
  padding: 0;
  overflow: scroll;
}
.row {
  display: flex;
  list-style: none;
}

.row > button {
  background-color: rgba(193, 192, 192, 0.133);
  color: #0005;
  border-radius: 100%;
  border: none;
  width: 2.5em;
  height: 2.5em;
  font-weight: 800;
  cursor: pointer;
  margin: 0 1em;
}

.row:hover > button {
  color: #000;
}

.row > span {
  margin: 0 0.5em;
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 1em 2em;
}

.collapse {
  margin: 2em 1em;
  display: block;
  border-bottom: 1px dashed #0002;
  text-align: center;
  color: #888;
}

.collapse:hover {
  color: #000;
  text-decoration: none;
}
